---
layout: page
# Gallery of imgur images
---

{% include lang.html %}

<ul>
  {% for image in site.data.imgur-images %}
    <li>
      <img src="{{ image.link }}" alt="Gallery Image" width="{{ image.width }}" height="{{ image.height }}">
      <p>Uploaded on: {{ image.datetime | date: "%Y-%m-%d" }}</p>
    </li>
  {% else %}
    <li>No images found in imgur_images.json</li>
  {% endfor %}
</ul>


<style>
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-item {
    margin: 10px;
  }
  .gallery-item img {
    max-width: 100%;
    height: auto;
  }
</style>
